@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root{
    --primary-font-family:'Poppins',sans-serifs;
    --light-white:#f5f8fa;
    --gray:#5e6278;
    --gray-1:#e3e3e3;
}
body{
    font-family: var(--primary-font-family);
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    height: 100vh;
}
/*Main CSS*/


.wrapper{
    /* background-image:url("/images/bg.png") ; */
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    /* min-height: 60%;
    max-height: 80%; */
    /* height: 40vh; */
}
.wrapper .logo img{
    max-width: 40%;
}
.wrapper input{
    background-color: var(--light-white);
    border-color: var(--light-white);
    color:var(--gray);
}
.wrapper input:focus{
    box-shadow: none;
}
.wrapper .password-info{
    font-size: 10px;
    position: relative;
    left: -25px;
}
.wrapper .submit_btn{
    padding: 10px 15px;
    font-weight:500;
}
.wrapper .login_with{
    padding:8px 15px;
    font-size: 13px;
    font-weight: 500;
    transition:0.3 ease-in-out;
}
.wrapper .submit_btn:focus,
.wrapper .login_with:focus{
    box-shadow: none;
}
.wrapper .login_with:hover{
    background-color:var(--gray-1);
    border-color: var(--gray-1);
}
.wrapper .login_with img{
    max-width: 8%;
}

.container{
    margin-top: 50px;
}